[Desktop Entry]
Type=Application
Terminal=false
Name=xbindkeys
Exec=/usr/bin/xbindkeys
Icon=applications-system
Comment=xbindkeys
#Categories=GNOME;GTK;System;
